* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html,
body {
      height: 100%;
      width: 100%;
      overflow: hidden;
      font-family: "SF Pro Rounded";
      background: var(--Background-Tertiary, #F5F5F5);
}

.container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.card {
      /* Full width and height */
      width: 100%;
      height: 93.75%;
      border-radius: var(--Radius-5XL, 24px);
      background: var(--Background-Primary, #FFF);
      /* Keeping the specified properties */
      margin: 16px 16px 48px 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* Other styling */
      transition: background-color 0.3s ease;
}

.content-area {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
}

.profile-container {
      display: flex;
      align-items: center;
      gap: 8px;
}

.avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #f0f0f0;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      gap: 16px;
}

.avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover;
}

.loader {
      width: 40px;
      height: 40px;
      border: none;
      display: flex;
      flex-wrap: wrap;
      /* Ensures content wraps on smaller screens */
      justify-content: space-between;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #262626;
      border-radius: var(--Radius-L, 12px);
      background: var(--Background-Tertiary, #F5F5F5);
}

/* .loader:hover {
      background-color: #e5e5e5;
} */

.navigation {
      display: flex;
      gap: 12px;
      margin-bottom: 24px;
}

.nav-item {
      padding: 8px 20px;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      transition: all 0.2s ease;
      border-radius: 24px;
      background: var(--Surface-Complementary-Disabled, #F0F0F0);
      color: var(--Text-Primary-Active, #121217);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      /* 142.857% */

}

.nav-item:hover {
      background-color: #e5e5e5;
}

.nav-item.active {
      border-radius: 24px;
      background: var(--Surface-Tertiary-Active, #121217);
      color: var(--Text-Primary-Inverse, #FFF);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      /* 142.857% */
}

@keyframes pulse {

      0%,
      100% {
            transform: scale(1);
            opacity: 0.7;
      }

      50% {
            transform: scale(1.2);
            opacity: 1;
      }
}

.pulse-animation circle {
      animation: pulse 1.5s ease-in-out infinite alternate;
      transform-origin: center;
}

.pulse-animation circle:nth-child(1) {
      animation-delay: -0.5s;
}

.pulse-animation circle:nth-child(2) {
      animation-delay: 0s;
}

.pulse-animation circle:nth-child(3) {
      animation-delay: 0.5s;
}


/* Work Hero Section */
.hero {
      padding: 5rem 0 3rem;
      max-width: 900px;
      text-align: left;
    }
    
    .hero h1 {
      font-size: 40px;
      line-height: 1.2;
      margin-bottom: 1.5rem;
      font-weight: 700;

    }
    
    .hero p {
      font-size: 16px;
      color: #666;
      max-width: 900px;
    }

    .projects {
      flex: 1;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      margin-top: 20px;
      padding: 0% 5% 5% 5%;
  }
  .project-container {
      display: flex;
      flex-direction: column;
      flex: 1;
  }
  .project-card {
      background-size: cover;
      background-position: center;
      color: white;
      border-radius: 12px;
      padding: 20px;
      height: 300px;
      display: flex;
      align-items: flex-end;
  }
  .project-container:first-child {
      flex: 1.3125;
  }
  .tags {
      margin-top: 10px;
      display: flex;
      gap: 5px;
      flex-wrap: wrap;
  }
  .tag {
      background: #eee;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 12px;
      color: #333;
  }
.intro-text {
      display: flex;
      width: 324px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      border-radius: var(--Radius-L, 12px);
      background: var(--Background-Tertiary, #F5F5F5);
      padding: 16px;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.5s ease, transform 0.5s ease;
      color: var(--Text-Primary-Active, #121217);
      font-family: "SF Pro Rounded";
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      /* 142.857% */
}

.intro-text.show {
      opacity: 1;
      transform: translateY(0);
  }

  .profile-name {
      color: var(--Text-Primary-Active, #121217);
      font-family: "SF Pro Rounded";
      font-size: 14px;
      font-style: normal;
      font-weight: 800;
      line-height: 20px; /* 142.857% */
  }
  
  .loc {
      color: var(--Text-Primary-Disabled, #BABBC5);
      font-family: "SF Pro Rounded";
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: 14px; /* 140% */
      letter-spacing: 0.02px;
  }

  .text-gradient {
        background: linear-gradient(90deg, rgba(104, 33, 215, 0.70) 0.41%, rgba(114, 31, 207, 0.70) 14.44%, rgba(125, 30, 199, 0.70) 27.39%, rgba(185, 23, 151, 0.70) 41.41%, rgba(246, 16, 103, 0.70) 54.36%, rgba(99, 33, 219, 0.70) 67.84%, rgba(94, 34, 223, 0.70) 81.33%, rgba(89, 34, 227, 0.70) 94.81%, rgba(84, 35, 231, 0.70) 108.3%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "SF Pro Rounded";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
  }